.h5p-idea-board-options-dialog-option-field-text-html-container {
  .h5p-idea-board-options-dialog-option-field-text-html-textarea {
    background: var(--color-editor-background);
    box-shadow: inset 0px 0px 0.25rem var(--color-editor-shadow-light);
    border: 1px solid var(--color-editor-light-gray);
    margin: 0;
    min-height: 2.5rem;
    outline: none;
    padding-inline: 0.5rem;
    overflow-wrap: break-word;

    &:focus {
      border: 1px solid var(--color-editor-primary);
    }
  }

  // CKEditor specific styles taken from H5P core
  .ckeditor {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.12);
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    min-height: 40px;
    border: 1px solid #d0d0d1;
    background: #fff;
    outline: none;
    font-size: 16px;
    /* stylelint-disable-next-line property-no-deprecated */
    word-wrap: break-word;

    a {
      text-decoration: underline;
    }


    &.error {
      border-color: var(--color-editor-error);
    }
  }

  // The actual ck editor
  .ck {
    a {
      text-decoration: underline;
    }
    .ck-font-size-dropdown .ck-dropdown__panel,
    .ck-text-fragment-language-dropdown .ck-dropdown__panel {
      max-height: 20em;
      overflow-y: scroll;
    }
    .ck-fontsize-option .ck-button__label {
      line-height: normal !important;
    }
    .ck-content pre {
      background: initial;
      border: initial;
      border-radius: initial;
      padding: 0;
    }
  }

  .ck-powered-by-balloon {
    display: none !important;
  }
}

.h5p-idea-board-options-dialog-option-field.has-error {
  .h5p-idea-board-options-dialog-option-field-text-html-textarea:not(:focus) {
    border: 1px solid var(--color-editor-error);
  }
}
