.h5p-idea-board-options-dialog-option-field-number-input {
  --padding: 0.5rem;

  background: var(--color-editor-background);
  box-shadow: inset 0px 0px 0.25rem var(--color-editor-shadow-light);
  border: 1px solid var(--color-editor-light-gray);
  margin: 0;
  outline: none;
  padding: var(--padding);
  width: calc(100% - 2 * var(--padding));

  &:focus {
    border: 1px solid var(--color-editor-primary);
  }
}

.h5p-idea-board-options-dialog-option-field.has-error {
  .h5p-idea-board-options-dialog-option-field-number-input:not(:focus) {
    border: 1px solid var(--color-editor-error);
  }
}
